@{
  Layout = "_Layout";
}

@model CarDealer.Models.Car

<h2>Add a car</h2>

<h4>Add a car to this customer as pending sales: @Html.DisplayFor(model => model.ModelYear) @Html.DisplayFor(model =>
  model.Brand) @Html.DisplayFor(model => model.Model)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.CarId)

  @Html.Label("Select Customer")
  @Html.DropDownList("CustomerId")

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>