@{
  Layout = "_Layout";
}

@using CarDealer.Models
@model CarDealer.Models.Car

<h2>Car Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Brand): @Html.DisplayFor(model => model.Brand)</h3>
<h3>@Html.DisplayNameFor(model => model.Model): @Html.DisplayFor(model => model.Model)</h3>
<h3>@Html.DisplayNameFor(model => model.ModelYear): @Html.DisplayFor(model => model.ModelYear)</h3>
<h3>@Html.DisplayNameFor(model => model.Mileage): @Html.DisplayFor(model => model.Mileage)</h3>
<h3>@Html.DisplayNameFor(model => model.Color): @Html.DisplayFor(model => model.Color)</h3>

@if (@Model.JoinEntities.Count == 0)
{
  <p>This car does not have any pending sales yet!</p>
}
else
{
  <h4>This car has pending sales with following customers:</h4>
  <ul>
  @foreach (PendingSales join in Model.JoinEntities)
    {
      <li>Tag: @join.Customer.Name</li>
      @using (Html.BeginForm("DeleteJoin", "Cars"))
      {
        @Html.Hidden("joinId", @join.PendingSalesId)
        <input type="submit" value="Delete" />
      }
    }
  </ul>
}

@Html.ActionLink("Back to Inventory", "Index")
<br />
<br />
@Html.ActionLink("Edit Car Information", "Edit", new { id = Model.CarId })
<br />
<br />
@Html.ActionLink("Delete This Car", "Delete", new { id = Model.CarId })
<br />
<br />
@Html.ActionLink("Mark This Car as Pending", "AddCarToPending", "Cars", new { id = Model.CarId })
